@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.card {
  transition: background 6s;
}
.card:hover {
  background: linear-gradient(136.97deg, #ddb762 3.34%, #000000 225.23%);
  transition: background 6s;
}
.card:hover .children {
  background: linear-gradient(136.97deg, #ddb762 3.34%, #000000 225.23%);
}
.card:hover .title,
.card:hover .description,
.card:hover .icon {
  color: white;
}
